In [ ]:
import pandas as pd
from pathlib import Path


pasta_dados = Path("../datas")

arquivos_csv = list(pasta_dados.glob("*.csv"))

print("Arquivos encontrados: ")

for arq in arquivos_csv:
    print(' -',arq.name)


#Leitura e consolidaÃ§Ã£o dos CSVs
lista_df = []
for arquivo in arquivos_csv:

    df_temp = pd.read_csv(arquivo,sep=';',encoding='utf8')

    #Nova coluna de indentificaÃ§Ã£o do snapshot
    #Usando o nome do arquivo como identificador
    df_temp['snapshot'] = arquivo.stem

    #Converter valores das colunas de data para o tipo datetime
    #alalise a lÃ³gica que vocÃª critou referenciando o for com os nomes das colunas padrÃ£o, caso isso seja alterado terÃ£o que ser alterados aqui
    for col in ['data_vencimento','data_pagamento','data_liquidacao']:
        if col in df_temp.columns:
            df_temp[col] = pd.to_datetime(df_temp[col],errors='coerce')


    #Criando uma coluna de competÃªncia a partir de 'fatura-mes' e 'fatura-ano'

    if 'fatura_mes' in df_temp.columns and 'fatura_ano' in df_temp.columns:
        df_temp['competencia'] = pd.to_datetime(df_temp['fatura_ano'].astype(str) + '-' + df_temp['fatura_mes'].astype(str) + '-01',errors='coerce')


    #Adicionando o df que tratado na lista de df
    lista_df.append(df_temp)


#Consolidando todos os df tratados (Snapshots)

df_consolidado = pd.concat(lista_df,ignore_index=True)


print('Visualizando as primeiras linhas do DataFrame consolidado: ')
display(df_consolidado.tail())


Path("../datas/df_consolidado.csv").write_text(df_consolidado.to_csv(sep=";",encoding='utf8',index=False))

Arquivos encontrados:
 - model1_may.csv
Visualizando as primeiras linhas do DataFrame consolidado:

C:\Users\user\AppData\Local\Temp\ipykernel_16736\3535116472.py:29: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_temp[col] = pd.to_datetime(df_temp[col],errors='coerce')
C:\Users\user\AppData\Local\Temp\ipykernel_16736\3535116472.py:29: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_temp[col] = pd.to_datetime(df_temp[col],errors='coerce')
C:\Users\user\AppData\Local\Temp\ipykernel_16736\3535116472.py:29: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_temp[col] = pd.to_datetime(df_temp[col],errors='coerce')

,nome_instituticao,contrato_status,contrato,contrato_relacionado,id_pessoa,id_matricula,status_matricula,polo,fatura_mes,fatura_ano,...,pagamento_boleto,pagamento_dinheiro,pagamento_cheque,pagamento_cartao_credito,pagamento_cartao_debito,pagamento_transferencia,data_pagamento,data_liquidacao,snapshot,competencia
6167,Escola do Futuro - Unidade 1,Ativo,11349952124685165609,NaN,2998187.0,1127927.0,Ativo,NaN,2,2025,...,"$0,00","$0,00","$0,00","$0,00","$0,00","$0,00",NaT,NaT,model1_may,2025-02-01
6168,Escola do Futuro - Unidade 1,Ativo,11349952124685165609,NaN,2998187.0,1127927.0,Ativo,NaN,3,2025,...,"$0,00","$0,00","$0,00","$0,00","$0,00","$0,00",NaT,NaT,model1_may,2025-03-01
6169,Escola do Futuro - Unidade 1,Ativo,11349952124685165609,NaN,2998187.0,1127927.0,Ativo,NaN,3,2025,...,"$0,00","$0,00","$0,00","$0,00","$0,00","$448,00",2025-03-28,2025-03-28,model1_may,2025-03-01
6170,Escola do Futuro - Unidade 1,Ativo,11349952124685165609,NaN,2998187.0,1127927.0,Ativo,NaN,3,2025,...,"$0,00","$0,00","$0,00","$0,00","$0,00","$0,00",NaT,NaT,model1_may,2025-03-01
6171,Escola do Futuro - Unidade 1,Ativo,29799225470400535691,NaN,1391579.0,1004482.0,Ativo,NaN,3,2025,...,"$0,00","$0,00","$0,00","$0,00","$0,00","$50,00",2025-03-21,2025-03-24,model1_may,2025-03-01

['nome_instituticao', 'contrato_status', 'contrato', 'contrato_relacionado', 'id_pessoa', 'id_matricula', 'status_matricula', 'polo', 'fatura_mes', 'fatura_ano', 'calendario_academico', 'curso', 'serie', 'turma', 'item', 'responsavel_financeiro', 'aluno', 'data_vencimento', 'valor_bruto', 'valor_liquido', 'valor_descontos', 'valor_cancelamentos', 'valor_financiamento', 'valor_estorno', 'valor_renegociacao', 'valor_fundo', 'valor_ressarcimento', 'valor_multa', 'valor_juros', 'valor_pagamento', 'dias_atraso', 'multa_prevista', 'juro_previsto', 'desconto_previsto', 'status', 'saldo_devedor', 'total_a_pagar', 'pagamento_boleto', 'pagamento_dinheiro', 'pagamento_cheque', 'pagamento_cartao_credito', 'pagamento_cartao_debito', 'pagamento_transferencia', 'data_pagamento', 'data_liquidacao', 'snapshot', 'competencia']